{% extends 'base.html.twig' %}

{% block body %}

    <ol class="breadcrumb">
        <li><a href="{{ path('todo_list') }}" title="Home page">Home</a></li>
        <li><a href="{{ path('todo_list') }}" title="Task list">Task list</a></li>
        <li class="active">Details</li>
    </ol>

    <h2 class="page-header">{{ todo.name }}</h2>

    <ul class="list-group">
        <li class="list-group-item"><strong>Category:</strong> {{ todo.category }}</li>
        <li class="list-group-item"><strong>Priority:</strong> {{ todo.category }}</li>
        <li class="list-group-item"><strong>Due date:</strong> {{ todo.dueDate|date('F j, Y, g:i a') }}</li>
    </ul>

    <div>
        {{ todo.description }}
    </div>

{% endblock %}
